name: MultiDataBaseProviderEF Continous Integration
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    env:
      BUILD_CONFIG: Release

    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 9.0.306

      - name: Build
        run: dotnet build -c $BUILD_CONFIG

      - name: Test SqlServer
        run: dotnet test -c $BUILD_CONFIG --no-build -e Provider="SqlServer"

      - name: Test MySql
        run: dotnet test -c $BUILD_CONFIG --no-build -e Provider="MySql"

      - name: Test Postgres
        run: dotnet test -c $BUILD_CONFIG --no-build -e Provider="Postgres"

      - name: Test Oracle
        run: dotnet test -c $BUILD_CONFIG --no-build -e Provider="Oracle"
